
/***********************************************/
/* paper-tab and paper-tabs styling */
/***********************************************/
paper-tab{
    border-radius: 4px;
    padding-right: 10px;
    margin-right: 2px;
    flex: none !important;
    background-color: white;
    color: #2e6da4;
    opacity: 1 !important;
}

paper-tab:hover {
    background-color: #eee;
    color: #555;
    opacity: 1;
    border-radius: 4px;
}

paper-tab.core-selected{background-color:#337ab7; border-color: #2e6da4; color: #fff;}

core-pages {
    position: absolute;
    top: 48px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: auto;
}

paper-tab::shadow .tab-content {
    opacity: 1;
}
/***********************************************/
/* CSS3 Close button */
/***********************************************/

[class*='close-'] {
    color: lightgray;
    font: 20px/100% arial, sans-serif;
    position: absolute;
    text-decoration: none;
    right: 5px;
    margin: 0 !important;
    padding: 0 !important;
    cursor: pointer;
}

.close-classic:after {
    content: 'X'; /* ANSI X letter */
}

.close-thin:after {
    content: '×'; /* UTF-8 symbol */
}

.close-thik:after {
    content: '✖'; /* UTF-8 symbol */
}

core-toolbar {
    background-color: white;
}
input {
    border: solid 1px #E6E8E3;
    background: transparent;
    font: inherit;
    font-size: 16px;
    outline: none;
}

paper-checkbox::shadow #ink[checked] {
    color: #009BD2;
}

paper-checkbox::shadow #checkbox.checked {
    background-color: #009BD2;
    border-color: #009BD2;
}

paper-checkbox::shadow #ink {
    color: #009BD2;
}

.dateEnableCheckbox {
    position: absolute;
    top: 32px;
    left: 25px;
}

.dateInput {
    padding-left: 35px;
}

.btnPanel{
    background-color: #009BD2;
    border-color: #00749d;
}

.btnPanel:hover{
    background-color: #00749d;
}

/***********************************************/
/* tblStudyList */
/***********************************************/
table.tblStudyList{ width: 100%;background: #E6E8E3 none repeat scroll 0% 0%; border: solid 1px #009BD2; }
table.tblStudyList tr th {text-align: left;}
table.tblStudyList tr th, td{ height: 30px; padding-left: 5px; cursor: default;}
table.tblStudyList thead th { background-color: #E6E8E3; border-bottom: solid 1px #C4D9D9; height: 40px;}
table.tblStudyList tbody tr{ background-color: #ffffff; border: solid 1px #C4D9D9;}
table.tblStudyList tbody tr:hover {background-color: #009BD2; color:white;}

/***********************************************/
/* Panels */
/***********************************************/

iframe {
    width: 100%;
    height: 100%;
}

.pnlHeading {
    background-color: #009BD2;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    box-shadow: 2px 2px 2px #888888;
}

