/****************************/
/*Left Side Sliding Panel*/
/****************************/


* {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

.verticalPanel,.verticalPanelRight,.verticalPanelRight .menu,.panelCollapse,.panelCollapse .menu,.panelCollapseRight,.btnCollapse .btnCollapse_icon{
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.verticalPanel {
    position: absolute;
    left: -100px;
    top: 0px;
    bottom: 0px;
    border-right: 1px solid gray;
    background-color: black;

}

.verticalPanelRight{
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: black;
}

.menu {
    position: absolute;
    top: 40px;
    bottom: 0px;
    overflow-y: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.panel-content {
    position: relative;
    min-height: 40px;
    line-height: 40px;
}

.verticalPanelRight .panel-content{
    border-left: solid 1px gray;
    border-top: solid 1px gray;
}


.btnCollapse {
    display: none;
    width: 20px;
    height: 20px;
}

/******************/
/*btnCollapse*/
/******************/
.btnCollapse {
    position: absolute;
    top: 0px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border: 0;
    border-top: 1px solid #e6e6e6;
    background: #f6f6f6;
    color: #666;
    font-size: 0.875rem;
    text-align: right;
    cursor: pointer;
}


.btnCollapse:hover {
    color: #000;
    background: #dddddd;
}

.btnCollapse .btnCollapse_icon {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

.btnCollapse .btnCollapse_icon:before {
    content: "\f053";
}
.verticalPanelRight .btnCollapse .btnCollapse_icon:before {
    content: "\f054";
}
.btnCollapse .btnCollapse_label {
    display: block;
    height: 40px;
    line-height: 40px;
}


.verticalPanel {
    left: 0;
}


.panelCollapse{
    width: 0;
    border: none;
}

.panelCollapse .menu {
    overflow: visible;
    display: none;
}

.panelCollapse .btnCollapse_icon {
    -webkit-transform: rotate(180deg);
}

.panelCollapseRight .btnCollapse_icon {
    -webkit-transform: rotate(180deg);
}



/*******************************/
/*VerticalBottomPanel*/
/*******************************/
.verticalPanelBottom{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right:0;
    border-top: solid 2px gray;
    background-color: black;
}
.verticalPanelBottom  .menu{
    position: absolute;
    top:0px;
    bottom: 0px;
    left: 35px;
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.verticalPanelBottom .panel-content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
    right:0px;
    bottom: 0px;
}
.btnCollapseBottom{
    position: absolute;
    bottom: 0px;
    left: 1px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border: 0;
    border-top: 1px solid #e6e6e6;
    background: #f6f6f6;
    color: #666;
    font-size: 0.875rem;
    text-align: center;
    cursor: pointer;
}
.verticalPanelBottom .btnCollapseBottom:hover {
    color: #000;
    background: #dddddd;
}

.verticalPanelBottom .btnCollapseBottom .btnCollapse_icon {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}


.btnCollapseBottom .btnCollapse_icon:before {
    content: "\f078";
}

/* verticalPanelBottom Collapse*/

.panelCollapseBottom{
    height: 0%;

}

.panelCollapseBottom .menu{
    display: none;
}

.btnBottom{
    bottom: 0px;
}

.panelCollapseBottom .btnCollapse_icon {
    -webkit-transform: rotate(180deg);
}


.verticalPanelBottom,.verticalPanelBottom .menu,.panelCollapseBottom,.panelCollapseBottom .menu, .btnCollapseBottom,.panelCollapseBottom,.panelCollapseBottom .btnCollapse_icon,.verticalPanelBottom .btnCollapseBottom .btnCollapse_icon,.verticalPanelBottom .btnCollapseBottom .btnCollapse_icon:before,.btnCollapse_icon  {
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}



