* {
    box-sizing: border-box;
}
.panel, .panel-collapse, .content, .content-collapse, .btnCollapseIcon, .btnCollapseIcon-collapse{
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.panel{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: black;
    z-index: 500;
}

.content{
    opacity: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    border: solid 1px gray;
    background-color: transparent;
}

.content-collapseVertical{
    opacity: 0;
    height: 0;
    border: none;
}

.content-collapseHorizontal{
    opacity: 0;
    width: 0;
    border: none;
}

#btnCollapse{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border: 0;
    border-top: 1px solid #e6e6e6;
    background: #f6f6f6;
    color: #666;
    font-size: 0.875rem;
    text-align: center;
    cursor: pointer;
}

.btnCollapseIcon-collapse{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}