<template name="toolbar">
    <div id="toolbar" class="toolbar">
        <div id="toolbar-group" class="btn-group">
            <!-- WW/WL -->
            <button id="wwwc" type="button" class="imageViewerTool btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="WW/WC" style="border-color: red;"><span class="fa fa-sun-o"></span></button>
            <!-- Invert -->
            <button id="invert" type="button" class="imageViewerCommand btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Invert" style="border-color: red;"><span class="fa fa-adjust"></span></button>
            <!-- Zoom -->
            <button id="zoom" type="button" class="imageViewerTool btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Zoom" style="border-color: green;"><span class="fa fa-search"></span></button>
            <!-- Pan -->
            <button id="pan" type="button" class="imageViewerTool btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Pan" style="border-color: green;"><span class="fa fa-arrows"></span></button>
            <!-- Stack scroll -->
            <button id="stackScroll" type="button" class="imageViewerTool btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Stack Scroll" style="border-color: green;"><span class="fa fa-bars"></span></button>
            <!-- Play clip -->
            <button id="playClip" type="button" class="imageViewerCommand btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Play Clip" style="border-color: green;"><span class="fa fa-play"></span></button>
            <!-- Stop clip -->
            <button id="stopClip" type="button" class="imageViewerCommand btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Stop Clip" style="border-color: green;"><span class="fa fa-stop"></span></button>
            <!-- Angle measurement -->
            <!--<button id="angle" type="button" class="imageViewerTool btn btn-sm btn-default" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Angle Measurement"><span class="fa fa-angle-left"></span></button>-->
            <!-- Pixel probe -->
            <button id="dragProbe" type="button" class="imageViewerTool btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Pixel Probe" style="border-color: blue;"><span class="fa fa-dot-circle-o"></span></button>
            <!-- Length measurement -->
            <button id="length" type="button" class="imageViewerTool btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Length Measurement" style="border-color: blue;"><span class="fa fa-arrows-v"></span></button>
            <!-- Elliptical ROI -->
            <button id="ellipticalRoi" type="button" class="imageViewerTool btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Elliptical ROI" style="border-color: blue;"><span class="fa fa-circle-o"></span></button>
            <!-- Rectangle ROI -->
            <button id="rectangleRoi" type="button" class="imageViewerTool btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Rectangle ROI" style="border-color: blue;"><span class="fa fa-square-o"></span></button>
            <!-- Lesion Tool -->
            <button id="lesion" type="button" class="imageViewerTool btn btn-sm btn-toolbar" data-container="body" data-toggle="tooltip" data-placement="bottom" title="Lesion Tool" style="border-color: yellow;"><span class="fa fa-arrows-v"></span></button>
        </div>
    </div>
</template>