<template name="lesionTable">
    <table class=" table table-bordered lesionTable" id="tblLesion">
        <thead>
        <tr style="background-color: #424242; font-style: italic; color: white;">
            <th id="thClose" style="text-align: center; height: 15px;"><i class="fa fa-times fa-lg"></i></th>
            <th id="thNumber" style="text-align: center; height: 15px;">#</th>
            <th id="thTarget" style="text-align: center; height: 15px;">T</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>
</template>