
/*Tables*/
table,thead,tbody,tr{
    display: block;
    color:white;
}
table{
    overflow: auto;
    border-top:solid 1px white;
    padding: 0;
    margin:0 auto;
    font-size: 14px;
    cursor: pointer;
}

/*table tr:nth-child(even) {background: #424242;}
table tr:nth-child(odd) {background: #7a7a7a;}*/

table tr {background-color: #545454;border-bottom: solid 1px black;}
table tr.headRow{background-color: #424242;width: 100%; line-height: 15px;}
table tr.headRow th{padding:5px;text-align: left;font-style: italic;font-size:14px;}

th:nth-child(1) {
    width: 10%;
    text-align: left;
}
th:nth-child(2) {
    width: 75%;
    text-align: center;
}
th:nth-child(3) {
    width: 20%;
    text-align: left;
}
th:nth-child(4) {
    width: 5%;
    text-align: right;
}

td:nth-child(1) {
    width: 10%;
    text-align: left;

}
td:nth-child(2) {
    width: 70%;
    text-align: left;
}
td:nth-child(3) {
    width: 25%;
    text-align: left;
}
td:nth-child(4) {
    width: 10%;
    text-align: right;
}

.tblRow{ padding:5px;  text-align: center;}

.captionDiv{
    height:21px;
    margin:0 auto;
    float: none;
    line-height: 16px;
    font-size: 1em;
    color:white;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
}

.rowSelected{
    background-color: white;
    color: #424242;
    font-size: 14px !important;
}

.rowUnselected {
    background-color: #545454;
    border-bottom: solid 1px black;
    font-size: 14px !important;
}

table button{
    /*visibility: hidden;*/
}
table thead th:nth-child(4) {
   /* visibility: hidden;*/
}
table tbody tr{
    background-color: #b3b3b3;
    color: #424242;
    line-height: 14px;
}
table tbody tr:hover{
    background-color: #d1d1d1;
    color: #424242;
}
table tbody tr:hover > button > i {
    color: black;
}

.btnRemove{
    border: none;
    outline:none;
    background-color: transparent;
}