.thumbnailContainer {
 -moz-transition: all 0.3s ease-out;
 -webkit-transition: all 0.3s ease-out;
 transition: all 0.3s ease-out;

 width: 12%;
 margin-top: 35px;
 margin-bottom: 0;
 float: left;
 overflow: auto;
 border: solid 1px gray;
}
