.imageViewer {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    float: none;
    overflow: hidden;
    border: 1px solid #777;
    z-index: 500;
}

.viewportInstructions{
    display: none;
    font-size: 13px;
    color: #e4ad00;
    line-height: 18px;
    pointer-events: none;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 20px ;
}
